<div class="form-group">
    <label for="allowRate" class="col-sm-2 control-label">allowRate</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="gallery.allowRate" class="form-control" id="allowRate" />
    </div>
</div>
<div class="form-group">
    <label for="allowRateIcons" class="col-sm-2 control-label">allowRateIcons</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="gallery.allowRateIcons" class="form-control" id="allowRateIcons" />
    </div>
</div>
<div class="form-group">
    <label for="label" class="col-sm-2 control-label">label</label>
    <div class="col-sm-10">
        <input type="text" ng-model="gallery.label" class="form-control" id="label" placeholder="Who label?"/>
    </div>
</div>
<div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="gallery.description" class="form-control" id="description" placeholder="description genre here"/>
    </div>
</div>
<div class="form-group">
    <label for="isActive" class="col-sm-2 control-label">isActive Genre</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="gallery.isActive" class="form-control" id="isActive"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>