<div class="container">
    <div ng-include="'partials/gallery/handlers/_error.html'"></div>
    <div ng-include="'partials/gallery/handlers/_success.html'"></div>
<table class="table">
    <tr>
        <td><h3>Details for Gallery {{model.gallery.userId}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Gallery rate state</td>
        <td>{{model.gallery.allowRate}}</td>
    </tr>
    <tr>
        <td>Gallery rate state 2</td>
        <td>{{model.gallery.allowRateIcons}}</td>
    </tr>
    <tr>
        <td>Label</td>
        <td>{{model.gallery.label}}</td>
    </tr>
    <tr>
        <td>Gallery Description</td>
        <td>{{model.gallery.description}}</td>
    </tr>
    <tr>
        <td>Active</td>
        <td>{{model.gallery.isActive}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ng-click="editItem(model.gallery.userId)">Edit</a>
</div>
    </div>