<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Posts list
                <small>for {{loginContext.user}}</small>
            </h1>
            <ol class="breadcrumb">
            <li class="active">Posts List</li>
            </ol>
        </div>

    </div>

    <div class="row">
        <a class="btn btn-primary" ng-click="newPost()">
            New Post<i class="fa fa-angle-right"></i></a>
    </div>

    <div class="row" ng-repeat="post in posts | orderBy:'-createdDate'">

        <hr>

        <div class="col-md-1">
            <p><i class="fa fa-camera fa-4x"></i>
            </p>

            <p>{{ post.createdDate | date : 'medium'}}</p>
        </div>
        <div class="col-md-6">
            <h3><a ng-click="openPost(post.id)">{{ post.title }}</a>
            </h3>

            <p>by <a href="#">user</a>
            </p>

            <p>{{ post.body }}</p>
            <a class="btn btn-primary" ng-click="openPost(post.id)">
                Read More<i class="fa fa-angle-right"></i></a>
            <a class="btn btn-primary" ng-click="openPost(post)">
                Edit<i class="fa fa-angle-right"></i></a>
        </div>

    </div>

    <hr>

    <div class="row">

        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a>
            </li>
            <li class="next"><a href="#">Newer &rarr;</a>
            </li>
        </ul>

    </div>

</div>