<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Edit post "{{ post. title }}"
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="#/posts">Posts List</a>
                </li>
                <li class="active">Edit post "{{ post. title }}"</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-8">

            <div class="well">

                <h4>Title:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="1" ng-model="post.title"></textarea>
                    </div>
                </form>

                <h4>What do you want to say?</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" ng-model="post.body"></textarea>
                    </div>
                    <a class="btn btn-primary" ng-click="updatePost()">
                        Update post<i class="fa fa-angle-right"></i></a>
                    <a class="btn btn-primary" ng-click="deletePost()">
                        Delete post<i class="fa fa-angle-right"></i></a>
                </form>
            </div>

        </div>
    </div>

</div>